.quote {
  overflow: hidden;
  margin-top: 150px;
  margin-bottom: 100px;
}

.quote__div {
  border-radius: 10px;
  background-color: #293039;
  padding: 50px 85px;
  padding-bottom: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.quote__img {
  max-width: 791px;
  width: 100%;
  margin-bottom: 67px;
}

.quote__list {
  @include ul;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quote__item {
  max-width: 285px;
  width: 100%;
}

.quote__item:nth-child(2) {
  margin: 0px 20px
}

.quote__span-text {
  @include heading;
  display: inline-block;
  margin-bottom: 38px;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;}

.quote__sub-title {
  @include heading;
  margin-bottom: 43px;
  font-size: 32px;
  line-height: 36px;
  color: #FEFCF7;
  }

.child1 {
  padding-right: 19px
}


.quote__sub-text {
  @include p;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}

.quote__button {
  @include button;
  margin-top: 44px;
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  background: #0E8784;
  border-radius: 6px;  width: 217px;
  padding:15px 0px ;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;

}

.quote__button:hover {
  background: #66D2CF;
  border-radius: 6px;
}


@media only screen and (max-width:1047px) {
  .quote {
    margin-top: 150px;
  }

  .child1 {
    padding: 0;
  }
}

@media only screen and (max-width:933px) {
  .quote__list {
    flex-direction: column;
  }

  .quote__img {
    display: none;
  }

  .quote__item {
    margin-top: 56px;
    text-align: center;
    max-width: 800px;
    width: 100%;
  }

  .quote__button {
    
    display: block;
    margin: 0 auto;
    margin-top: 59px;
  }

  .quote__div {
    padding: 10px 15px 30px 15px;
  }

  .quote__item:nth-child(2) {
    margin-top: 56px;
    max-width: 800px;
    width: 100%;
  }
}

@media only screen and (max-width:540px) {
  .quote {
    margin-top: 150px;
  }
}

@media only screen and (max-width:425px) {
  .quote__img {
    display: none;
  }

  .quote__heading {
    display: block;
    margin: 0 auto ;
    text-align: center;
  }
}

@media only screen and (max-width:300px) {
  .quote__button {
    margin: 0 auto;
  }
}




