.hero {
  position: relative;
}

.hero__div {
  max-width: 1280px;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  background-image: url(/imgs/Bitmap.jpg);
  background-size: 1280px 600px;
  background-repeat: no-repeat;
  background-position: calc(50% - 0px);
  padding-top: 117px;
  padding-bottom: 100px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
}

.hero__div-title {
  margin-left: 85px;
  max-width: 491px;
  width: 100%;
}

.hero__heading {
  @include heading;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.hero__text {
  @include p;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  padding-right: 50px;
  margin-bottom: 55px;
}

.hero__button {
  text-decoration: none;
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  background: #0e8783;
  border-radius: 6px;  
  display: inline-block;
  width: 217px;
  padding:15px 0px ;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.hero__button:hover {
  background: #66D2CF;
  border-radius: 6px;
}

@media only screen and(max-width:768px) {
  .hero__heading {
    font-size: 48px;
    line-height: 48px;
    padding-right: 24px;
    margin-bottom: 24px;
  }

  .hero__div {
    padding: 104px 0px;
  }

  .hero__text {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
    padding-right: 0px;
  }

  .hero__div-title {
    max-width: 398px;
    width: 100%;
  }


}

@media only screen and(max-width:520px) {
  .hero__div-title {
    max-width: 329px;
    width: 100%;
    margin: 0 auto;
  }

  .hero__div {
    background-image: url(/imgs/Object-2.png);
    background-position: calc(50% - -150px ) -400px;
    background-size: 1280px 1000px;
    background-repeat: no-repeat;
  }
  .hero__heading {
    padding: 0;
    text-align: center;
    font-size: 38px;
    line-height: 40px;
  }

  .hero__text {
    text-align: center;
    font-size: 14px;
    line-height: 25px;
  }

  .hero__button {
    max-width: 217px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}

