.inner {
  
}

.inner__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 168px;
  padding-right: 85px;
  padding-left: 85px;
  padding-bottom: 140px;
}

.inner__img {
  margin-right: 50px;
  max-width: 445px;
  width: 100%;
  height: 520px;
}

.inner__title-div {
  max-width: 540px;
  width: 100%;
}

.inner__heading {
  @include heading;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
}

.inner__text {
  @include p;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  mix-blend-mode: normal;
  opacity: 0.8;
}

@media only screen and (max-width:1065px) {
  .inner__div {
    padding-right: 30px;
  }
}

@media only screen and (max-width:1000px) {
  .inner__img {
    max-width: 350px;
    width: 100%;
  }
}

@media only screen and (max-width:935px) {
  .inner__div {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    flex-direction: column;
  }

  .inner__heading {
    font-size: 32px;
    line-height: 48px;
    color: #333D4B;

  }

  .inner__text {
    font-size: 15px;
    line-height: 25px;
  }

  .inner__title-div {
    max-width: 800px;
    width: 100%;
  }

  .inner__img {
    margin: 0 auto;
    margin-bottom: 80px;
    max-width: 545px;
    width: 100%;
    max-height: 520px;
    height: 100%;
  }
}
